Repository microsoft/onnxscript, pull requests merged in 2022-12, with the labels that each got.

#233 feat(atenlib): typing module
  onnxscript/function_libs/torch_aten/typing.py
Labels: topic: aten lib

#212 feat(atenlib): aten function signature generator
  .flake8
  onnxscript/function_libs/tools/torch_aten/generate_aten_signatures.py
  pyproject.toml
  requirements-dev.txt
Labels: topic: aten lib

#235 feat(atenlib): add, sub, mul
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#248 chore(lint): disable mypy warn_any_return
  azure-pipelines.yml
  onnxscript/function_libs/tools/torch_aten/generate_aten_signatures.py
  onnxscript/irbuilder.py
  onnxscript/main.py
  onnxscript/tensor.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
  onnxscript/utils.py
  onnxscript/values.py
Labels: change base before merge

#247 feat(atenlib): implement aten functions 1/n
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib, change base before merge

#252 feat(atenlib): ops 2/n
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib, change base before merge

#255 feat(atenlib): ops 3/n
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib, change base before merge

#256 feat(atenlib): ops 4/n
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib, change base before merge

#251 Add 2 ops zeros and zeros_like.
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#260 feat(atenlib): atenlib function registry
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/function_libs/torch_aten/registration.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#262 fix(atenlib): merge aten_clamp_min/max tensor and scalar version; repeat
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
  requirements-onnx.txt
Labels: topic: aten lib
