Repository microsoft/onnxscript, pull requests merged in 2023-11, with the labels that each got.

#1123 Script embedding_renorm | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1126 Fix Op(_native_batch_norm_legit_no_training) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1124 Handle complex types in convert_element_type | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/prims.py
Labels: topic: torch_lib

#1127 Fix var_mean when input dim is a list | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1129 Trace convert_element_type | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/prims.py
Labels: topic: torch_lib

#1133 Implement `einsum` | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1134 Implement `transpose` for complex inputs | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1135 Add Op(built-in function ops) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1139 Implement squeeze.dim for complex inputs | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1137 Use ReduceL1/ReduceL2 for vector norm | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/linalg.py
Labels: topic: torch_lib

#1142 Implement `aten::det` | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/linalg.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1143 Add Ops(_native_batch_norm_legit_functional) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1144 Complex support for basic arithmetic | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1146 Annotate aten `div` and `mul` complex implementations | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1147 Create shared function to handle complex casting | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/common.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/prims.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1148 Add Op(aten::_to_copy) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1108 Use Rank and IsScalar | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/linalg.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/function_libs/torch_lib/ops/special.py
Labels: topic: torch_lib

#1150 Complex support for `aten::view` | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1157 Implement softplus | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1164 Fix `aten_copy` dtype | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1163 Clean up Shape calls | chore(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1158 Upcast Celu for it to support more dtypes | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1171 Fix _aten_native_group_norm_onnx dtype | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1168 Eliminate use of template in exporter
  onnxscript/backend/onnx_export.py
Labels: topic: codegen

#1172 [Experimental] Export with symbolic shapes
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib

#1156 Add more URLs to package
  pyproject.toml
  setup.py
Labels: run release CIs, topic: release

#1180 Create env to test with TORCHLIB_EXPERIMENTAL_PREFER_TRACING on | test(torchlib)
  .github/workflows/main.yaml
  noxfile.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, change base before merge

#1184 Fix value_info names in symbolic shape export
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib

#1177 Mark some functions as traceable | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, change base before merge

#1178 Implement the experimental evaluator for folding branches and castlikes | feat(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1186 aten::var implementation and aten::roll complex support
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1193 Remove proto2text | chore!
  .lintrunner.toml
  README.md
  docs/examples/01_plot_selu.py
  docs/examples/02_plot_square_loss.py
  docs/examples/03_export_lib.py
  docs/examples/04_plot_eager_mode_evaluation.py
  docs/examples/05_plot_model_props.py
  docs/examples/06_plot_model_local_funs.py
  docs/tutorial/examples/forloop.py
  docs/tutorial/examples/forwhileloop.py
  docs/tutorial/examples/hardmax_end_to_end.py
  docs/tutorial/examples/outerscope_redef_error.py
  docs/tutorial/examples/scanloop.py
  onnxscript/__init__.py
  onnxscript/_internal/utils.py
  onnxscript/backend/onnx_export_test.py
  onnxscript/evaluator.py
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
Labels: topic: api, topic: breaking changes

#1195 Add castlike to var | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1196 Fix linspace for float inputs | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm
