Repository microsoft/onnxscript, pull requests merged in 2023-09, with the labels that each got.

#1044 Register `_embedding_bag` correctly | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, hold on merging

#1043 Add Op(_scaled_dot_product_flash_attention) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1050 Register `view_as_real` as complex functions | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1045 Fix arange issue for int8/int16/int32 dtype
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1052 Publish to onnxscript | chore(release)
  .azure-pipelines/_release-template.yml
Labels: run release CIs, topic: release

#1053 Update README to remove `-preview` | chore(docs)
  README.md
Labels: merge at lgtm

#1051 Ensure exporter creates valid python name for opset vars
  onnxscript/backend/onnx_export.py
  onnxscript/backend/onnx_export_test.py
Labels: topic: codegen

#1055 Bump ORT-nightly to 1.16rc2 | chore(ci)
  requirements/ci/requirements-ort-nightly.txt
Labels: topic: ci, merge at lgtm

#1054 Miscellaneous fixes of ops | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1060 Create status badges in README
  README.md
Labels: documentation, merge at lgtm

#1062 Add the opname property to OnnxFunction for BC | fix(api)
  onnxscript/_internal/deprecation.py
  onnxscript/values.py
Labels: topic: api, topic: breaking changes

#1064 Update beartype version | ci
  noxfile.py
  requirements-dev.txt
Labels: topic: ci, merge at lgtm

#1042 AddOp(diagonal) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1068 Add op(heaviside) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1070 Bump onnxruntime to 1.16 | chore(ci)
  docs/examples/02_plot_square_loss.py
  noxfile.py
Labels: topic: ci, merge at lgtm
