Repository microsoft/onnxscript, pull requests merged in 2023-03, with the labels that each got.

#483 feat(atenlib): aten_expand supports -1 dim
  onnxscript/function_libs/torch_aten/ops/core.py
Labels: topic: aten lib

#444 feat(atenlib): add ops(cross_entropy_loss)
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#482 feat(ateblib): add ops(stack)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/tensor_typing.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#468 fix(docs): page titles and toc
  docs/api/converter.rst
  docs/api/decorator.rst
  docs/api/opsets.rst
  docs/api/utils.rst
  docs/api/values.rst
Labels: documentation, merge at lgtm

#507 better comment on expand node
  onnxscript/function_libs/torch_aten/ops/core.py
Labels: documentation, topic: aten lib

#508 enable -1 test in expand
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#509 fix(test): bump onnxruntime, onnx, torch versions in noxfile.py
  noxfile.py
  onnxscript/backend/onnx_export_test.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
  onnxscript/tests/functions/onnxfns2_test.py
Labels: topic: ci

#512 feat(atenlib): op(cross)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#515 feat(atenlib): op(trunc)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#511 feat(atenlib): add op(chunk)
  onnxscript/evaluator.py
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#491 feat(atenlib): add op(min)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#495 chore(ci): remove dependence on onnx-experimental branch
  noxfile.py
  onnxscript/tests/functions/onnxfns1A_test.py
  onnxscript/tests/models/onnxfns1.py
  onnxscript/tests/models/onnxfns1A.py
  requirements-dev.txt
Labels: topic: ci

#517 chore(test): test atenlib with TorchScriptEvaluator
  onnxscript/function_libs/torch_aten/graph_building.py
  onnxscript/function_libs/torch_aten/graph_building_test.py
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tensor.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#514 chore(ci): run tests in random order
  noxfile.py
  requirements-dev.txt
Labels: topic: ci

#532 fix(graph_building): change `add_initializer` to return a Tensor; make shape inference optional
  onnxscript/function_libs/torch_aten/graph_building.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: merge at lgtm

#484 feat(graph_building): support dynamic inputs
  onnxscript/function_libs/torch_aten/graph_building.py
  onnxscript/function_libs/torch_aten/graph_building_test.py
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#543 Add type promotion on certain nodes to enable bloom
  onnxscript/function_libs/torch_aten/ops/core.py
Labels: topic: aten lib

#542 fix empty list of input handling
  onnxscript/function_libs/torch_aten/graph_building.py
Labels: topic: aten lib

#535 feat(atenlib): addOp(new_ones, new_zeros)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#536 feat(atenlib): add Op(mse_loss)
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#546 feat(atenlib): add ops(gather, greater, greater_equal)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#549 chore: clean up onnx_backend
  onnxscript/backend/onnx_backend.py
Labels: merge at lgtm

#550 feat(atenlib): add ops(randn, rand)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#551 feat(atenlib):add ops(scatter-add, floor)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#552 feat(atenlib): add ops(flip)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#555 fix(atenlib): combine cross_entropy_loss
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
  onnxscript/values.py
Labels: topic: aten lib, merge at lgtm

#557 Enable numpy checks in ruff
  pyproject.toml
Labels: topic: ci, merge at lgtm

#548 feat(atenlib): scaled_dot_product_attention; trilu
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib, merge at lgtm

#578 fix(atenlib): add cast to rsub found by op_level_debug
  onnxscript/function_libs/torch_aten/ops/core.py
Labels: topic: torch_lib

#410 Add more typing annotations
  onnxscript/converter.py
  onnxscript/main.py
  onnxscript/values.py
Labels: topic: typing

#553 Test with the ORT nightly build | chore(ci)
  .github/workflows/main.yaml
  noxfile.py
  onnxscript/backend/onnx_export_test.py
  requirements-ort-nightly.txt
Labels: topic: ci, topic: testing, merge at lgtm

#575 feat(atenlib): add op(reflectionpad2d,replicationpad2d,3d)
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib
