Repository microsoft/onnxscript, pull requests merged in 2023-12, with the labels that each got.

#1199 Implement rad2deg and deg2rad | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1192 Clean up isinstance checks for tuples | feat(torchlib)
  onnxscript/evaluator.py
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1197 Add Op(aten::_scaled_dot_product_efficient_attention) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1203 AddOp(aten_replication_pad1d) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1204 Fix Op(aten::_scaled_dot_product_efficient_attention) under fp16
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#1209 Fix Op(aten::diagonal) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1216 Implement hardsigmoid and hardswish | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1207 Fix loop exporting issue
  onnxscript/backend/onnx_export.py
  onnxscript/backend/onnx_export_test.py
  onnxscript/converter.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/testing.py
  onnxscript/tests/models/loops_while.py
Labels: topic: torch_lib, topic: codegen

#1219 Fix Op(aten::scaled_dot_product_attention) under fp16
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#1222 Fix Op(aten::roll) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1224 Fix Op(aten::roll) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1225 Xfail the replicate_negative for replication_pad2d | ci(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1226 Remove check_model and shape_infer in graph building | feat(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
Labels: topic: torch_lib

#1228 Implement operator sinc | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1227 Fix the erfcx implementation | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1236 Bump ORT nightly version to 1.17.0.dev20231218002 | chore(ci)
  noxfile.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
  requirements-dev.txt
  requirements/ci/requirements-onnx-weekly.txt
  requirements/ci/requirements-ort-nightly.txt
Labels: topic: ci, merge at lgtm
