Repository microsoft/onnxscript, pull requests merged in 2023-02, with the labels that each got.

#396 chore(test): test with onnx weekly build
  .github/workflows/main.yaml
  noxfile.py
Labels: change base before merge, topic: ci

#382 chore(evaluator): add and fix typing annotations
  onnxscript/evaluator.py
  onnxscript/values.py
Labels: topic: typing

#402 feat(atenlib): split op(gelu) into 2 functions
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#407 fix(atenlib): test function with checker and fix errors
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#392 feat(docs): use the furo theme
  docs/conf.py
  requirements-dev.txt
Labels: documentation

#336 feat(atenlib): onnxscript API on torchscript
  onnxscript/function_libs/torch_aten/graph_building.py
  onnxscript/function_libs/torch_aten/graph_building_test.py
  onnxscript/function_libs/torch_aten/ops/__init__.py
  onnxscript/function_libs/torch_aten/registration.py
  onnxscript/tests/common/version_utils.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
  onnxscript/values.py
  pyproject.toml
Labels: topic: aten lib

#413 integrate with fake_gpt.py
  onnxscript/function_libs/torch_aten/graph_building.py
Labels: bug, topic: aten lib

#411 Add convolution op into aten lib
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/extra_opinfo.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#422 chore(lint): use mypy 1.0.0
  .lintrunner.toml
  requirements-dev.txt
Labels: topic: ci

#421 fix(atenlib): make functions with dtype attributes trace_only
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#428 feat(atenlib): enable model checker in TorchScriptGraph
  onnxscript/function_libs/torch_aten/graph_building.py
  onnxscript/function_libs/torch_aten/ops/core.py
Labels: topic: aten lib

#429 fix(atenlib): compact _add_constant_to_graph
  onnxscript/function_libs/torch_aten/graph_building.py
Labels: topic: aten lib

#438 fix(atenlib): add domain as part of key to onnx function store
  onnxscript/function_libs/torch_aten/graph_building.py
Labels: topic: aten lib

#441 feat(eager): turn Evaluator into a Protocol
  onnxscript/evaluator.py
  onnxscript/function_libs/torch_aten/graph_building.py
Labels: enhancement, topic: aten lib, topic: eager mode

#442 fix(atenlib): bitwise_not and maskd_fill
  onnxscript/function_libs/torch_aten/ops/core.py
Labels: topic: aten lib

#450 fix(atenlib): flaky test for new_empty
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib, topic: ci, merge at lgtm

#440 feat(atenlib): add ops(normal, narrow)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#449 fix: replace deprecated onnx helpers
  onnxscript/tensor.py
  onnxscript/utils.py
Labels: merge at lgtm

#456 chore(ci): use onnx-weekly from pypi
  noxfile.py
Labels: topic: ci, merge at lgtm

#452 chore(lint): disallow relative imports
  .lintrunner.toml
  pyproject.toml
Labels: merge at lgtm

#448 feat(eager): ignore_unknown_function_kwargs option
  onnxscript/evaluator.py
  onnxscript/evaluator_test.py
Labels: topic: eager mode

#435 feat(test): use ort 1.14
  .gitignore
  noxfile.py
  onnxscript/backend/onnx_backend.py
  onnxscript/backend/onnx_backend_test.py
  onnxscript/backend/onnx_export_test.py
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/irbuilder.py
  onnxscript/tests/common/version_utils.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
  onnxscript/tests/functions/onnxfns2_test.py
  onnxscript/tests/onnx_backend_test.py
Labels: topic: aten lib, topic: testing

#458 feat(atenlib): add ops(resolve_conj, resolve_neg)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#464 feat(atenlib): test random ops
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#469 fix(ci): pin onnx-weekly version
  .github/dependabot.yaml
  noxfile.py
  requirements-dev.txt
  requirements-onnx-weekly.txt
Labels: topic: ci, merge at lgtm

#473 fix(test): racing condition in onnx_export_test
  onnxscript/backend/onnx_export_test.py
Labels: topic: ci
