Repository microsoft/onnxscript, pull requests merged in 2023-10, with the labels that each got.

#1079 Implement _log_softmax | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1035 Implement rand* ops | feat(torchilb)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1088 Fix randint dtypes | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
Labels: topic: torch_lib

#1084 Implement aten::{all,any}.dims | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1094 Implement `aten::normal` overloads | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1096 Fix scale normal distributions in `aten::normal` | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1098 Add embedding_renorm code | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1105 Create the Rank and IsScalar shared functions | feat(torchlib)
  onnxscript/function_libs/tools/torch_lib/deduce_type_constraints_test.py
  onnxscript/function_libs/torch_lib/_constants.py
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/ops/common.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/registration.py
Labels: topic: torch_lib

#1111 Decompose addmm with Gemm | feat(torchlib)
  onnxscript/function_libs/tools/torch_lib/deduce_type_constraints_test.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1113 Use Gemm to implement addmm | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1114 Update test dependencies
  noxfile.py
Labels: dependencies, merge at lgtm

#1112 Experimental flag for controlling initializers as inputs | feat(torchlib)
  onnxscript/function_libs/torch_lib/_flags.py
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib

#927 Remove outdated skips | test
  onnxscript/converter_test.py
  onnxscript/function_libs/torch_lib/graph_building_test.py
  onnxscript/tests/functions/onnxfns1A_test.py
  onnxscript/tests/functions/onnxfns_test.py
  requirements-dev.txt
Labels: merge at lgtm, topic: better engineering

#1116 Add Op(_native_batch_norm_legit_no_training and _native_batch_norm_legit) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib
