Repository microsoft/onnxscript, pull requests merged in 2023-04, with the labels that each got.

#586 Skip a flaky matmul test | test(atenlib)
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: merge at lgtm

#570 Set up github to build and publish python packages | chore(release)
  .github/workflows/main.yaml
  MANIFEST.in
  VERSION
  docs/conf.py
  onnxscript/__init__.py
  pyproject.toml
  setup.py
Labels: hold on merging, run release CIs, topic: release

#589 Specify setuptools version | chore(release)
  pyproject.toml
  requirements-dev.txt
Labels: topic: release

#595 Rename onnx-script -> onnxscript | chore(release)
  docs/examples/02_plot_square_loss.py
  docs/examples/04_plot_eager_mode_evaluation.py
  onnxscript/backend/onnx_export.py
  onnxscript/backend/onnx_export_test.py
  onnxscript/converter.py
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/irbuilder.py
  onnxscript/main.py
  onnxscript/onnx_types.py
  onnxscript/utils.py
  onnxscript/values.py
Labels: topic: release

#600 Upgrade lint dependencies | chore(lint)
  .github/dependabot.yaml
  .lintrunner.toml
  docs/examples/01_plot_selu.py
  docs/examples/02_plot_square_loss.py
  docs/examples/03_export_lib.py
  docs/examples/04_plot_eager_mode_evaluation.py
  docs/examples/05_plot_model_props.py
  docs/examples/06_plot_model_local_funs.py
  docs/test/test_documentation_examples.py
  noxfile.py
  onnxscript/backend/onnx_backend_test.py
  onnxscript/backend/onnx_export_test.py
  onnxscript/converter.py
  onnxscript/converter_test.py
  onnxscript/function_libs/torch_aten/graph_building.py
  onnxscript/irbuilder.py
  onnxscript/testing.py
  onnxscript/tests/common/onnx_script_test_case.py
  onnxscript/tests/eager_test.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
  onnxscript/tests/functions/gemmgelu.py
  onnxscript/tests/if_test.py
  onnxscript/tests/models/opt_output.py
  onnxscript/values.py
  pyproject.toml
  pyproject_pylint.toml
  requirements/ci/requirements-onnx-weekly.txt
  requirements/ci/requirements-ort-nightly.txt
  requirements/lintrunner/requirements.txt
Labels: hold on merging

#602 Handle ORT segfaults in tests | test(atenlib)
  .github/workflows/main.yaml
  noxfile.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
  requirements/ci/requirements-ort-nightly.txt
Labels: topic: torch_lib, topic: testing

#582 Add op(scatter reduce) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#560 Add ops(maxpool2d with index) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/tensor_typing.py
  onnxscript/tests/function_libs/torch_aten/extra_opinfo.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#610 Fix domains for aten_scaled_dot_product_attention | fix(atenlib)
  onnxscript/function_libs/torch_aten/ops/nn.py
Labels: topic: torch_lib, merge at lgtm

#612 Add ops(unflatten) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#568 Add Op (col2im) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/extra_opinfo.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#581 Add op(upsample - bilinear2d) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib, hold on merging

#559 feat(atenlib): add ops(avg pool2d)
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#619 Move release pipeline to a separate file | chore(release)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  noxfile.py
  requirements-dev.txt
Labels: run release CIs, topic: release

#620 Fix dependabot | chore(ci)
  .github/dependabot.yaml
Labels: topic: ci, merge at lgtm

#506 Extend Hardmax example in docs to be end-to-end
  .github/workflows/main.yaml
  README.md
  docs/tutorial/examples/hardmax_end_to_end.py
  docs/update_readme.py
Labels: documentation

#545 Add ops(as_strided) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#627 Bump ORT-nightly version to 1.15.0.dev20230410004 | chore(deps)
  requirements/ci/requirements-ort-nightly.txt
Labels: topic: ci

#628 Improve unflatten | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
Labels: topic: torch_lib

#562 Add ops(gridsample, gridsampler2d) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#633 Disable tests for scaled_dot_product_attention | ci(atenlib)
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib, topic: ci, merge at lgtm

#632 Make test cases use `onnxscript.testing` | chore(testing)
  onnxscript/converter_test.py
  onnxscript/tests/common/testutils.py
  onnxscript/tests/if_test.py
  onnxscript/tests/loop_test.py
  onnxscript/tests/operator_test.py
  onnxscript/type_annotation_test.py
Labels: topic: testing, merge at lgtm, topic: better engineering

#636 Add `--no-deps` to release.yaml | chore(release)
  .github/workflows/release.yaml
Labels: merge at lgtm, run release CIs, topic: release

#558 Add ops(hardtanh, slice_scatter) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#640 Update .lintrunner.toml to include a merge base | chore
  .lintrunner.toml
  requirements-dev.txt
Labels: merge at lgtm

#638 Revert "feat(atenlib): addOp(var,vardim,varcorrection)"
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: ci, merge at lgtm, run release CIs

#642 Enable string concatenation checks in ruff | chore(lint)
  onnxscript/converter_test.py
  onnxscript/tests/eager_test.py
  opgen/onnx_opset_builder.py
  pyproject.toml
Labels: topic: ci, topic: better engineering

#646 Enable G and C4 rules in ruff | chore(lint)
  onnxscript/backend/onnx_export.py
  onnxscript/converter_test.py
  pyproject.toml
Labels: topic: ci, merge at lgtm

#643 Add op(var-mean,var-mean-dim,var-mean-correction) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#648 Display name/shape info in TorchScriptTensor | feat(graph_building)
  onnxscript/function_libs/torch_aten/graph_building.py
Labels: topic: torch_lib, merge at lgtm

#649 add op(native batch norm) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#653 Add permission to the lint job
  .github/workflows/lint.yaml
Labels: topic: ci, merge at lgtm

#656 Fix attention logic when mask is boolean | fix(atenlib)
  onnxscript/function_libs/torch_aten/ops/nn.py
Labels: topic: torch_lib

#644 add op(native group norm) | feat(atenlib)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/extra_opinfo.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: torch_lib

#659 Rename torch_aten to torch_lib | chore(atenlib)
  noxfile.py
  onnxscript/function_libs/torch_lib/__init__.py
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/graph_building_test.py
  onnxscript/function_libs/torch_lib/ops/__init__.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/fft.py
  onnxscript/function_libs/torch_lib/ops/linalg.py
  onnxscript/function_libs/torch_lib/ops/nested.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/function_libs/torch_lib/ops/sparse.py
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/function_libs/torch_lib/registration.py
  onnxscript/function_libs/torch_lib/tensor_typing.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_correctness_test.py
  requirements-dev.txt
Labels: topic: torch_lib, topic: release

#658 Create code gen tool for Prims op | feat(atenlib)
  onnxscript/function_libs/tools/torch_aten/generate_prims_signatures.py
  onnxscript/function_libs/torch_lib/ops/__init__.py
  onnxscript/function_libs/torch_lib/ops/prims.py
Labels: topic: torch_lib

#668 Update noxfile.py to reflect the new ops_test path | test(torchlib)
  noxfile.py
Labels: topic: torch_lib

#667 Configure black’s supported versions | chore
  pyproject.toml
Labels: merge at lgtm, topic: better engineering

#671 Rename tools from torch_aten to torch_lib | chore(torchlib)
  onnxscript/function_libs/tools/torch_lib/generate_aten_signatures.py
  onnxscript/function_libs/tools/torch_lib/generate_prims_signatures.py
Labels: topic: torch_lib

#663 Add Op(Tile) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#673 Implement `prims::convert_element_type` | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/prims.py
Labels: topic: torch_lib

#675 Add op(atan2) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#661 Refine Op(new_ones, new_empty, new_empty_strided, new_full, new_zeros) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#682 Re-enable mypy | chore(ci)
  .github/workflows/lint.yaml
  .lintrunner.toml
  README.md
  onnxscript/autocast.py
  onnxscript/backend/onnx_backend.py
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/registration.py
  onnxscript/values.py
Labels: topic: ci

#688 Implement split_function_and_wrangler | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test.py
Labels: topic: torch_lib, change base before merge, topic: testing

#631 Analyze type annotation for input types | feat(op_schema)
  onnxscript/irbuilder.py
  onnxscript/onnx_types.py
  onnxscript/type_annotation.py
  onnxscript/type_annotation_test.py
Labels: topic: typing, change base before merge

#684 Refactor converter to isolate translate_function_signature logic | feat(converter)
  onnxscript/converter.py
Labels: change base before merge, topic: api

#626 Auto generate OpSchema for functions | feat(op_schema)
  onnxscript/autocast.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/values.py
Labels: topic: torch_lib, change base before merge

#674 Auto OpSchema for trace_only functions | feat(op_schema)
  onnxscript/_internal/ast_utils.py
  onnxscript/analysis_test.py
  onnxscript/function_libs/torch_lib/registration.py
  onnxscript/irbuilder.py
  onnxscript/main.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/values.py
  onnxscript/values_test.py
Labels: topic: torch_lib, change base before merge

#701 Update test pipelines | chore(ci)
  .github/workflows/main.yaml
  noxfile.py
Labels: topic: ci, merge at lgtm

#685 Add an environment variable to disable ort session cache if necessary | fix(atenlib)
  .github/workflows/main.yaml
  onnxscript/_internal/feature_switch.py
  onnxscript/evaluator.py
Labels: topic: torch_lib

#695 Duplicate OpInfos for prims ops | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, topic: testing
