Repository microsoft/onnxscript, pull requests merged in 2023-08, with the labels that each got.

#950 Hide xfailed tests in test results | test(torchlib)
  pyproject.toml
Labels: topic: torch_lib

#954 Disable release triggers on Github | chore(release)
  .azure-pipelines/release-dev.yml
  .github/workflows/release.yaml
Labels: topic: ci

#958 Create error reproduction | test(torchlib)
  .github/workflows/main.yaml
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/error_reproduction.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, topic: testing

#909 AddOp(embedding bag) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#970 Remove skips in `scaled_dot_product_attention` | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#971 Enable tests for `upsample_nearest2d` | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, change base before merge, topic: testing

#967 Include the textual model representation in error reports | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/error_reproduction.py
Labels: topic: torch_lib, topic: testing

#982 Fix 'aten_unfold'
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: bug, topic: torch_lib

#972 Refine skips for Reduce* ops | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, change base before merge, topic: testing

#963 Reorder pytest results | test
  pyproject.toml
Labels: merge at lgtm

#976 Fix log* type errors with CastLike | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#979 Fix gelu for float16 and update test tolerance | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#988 Implement `aten::div.Tensor_mode` | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/error_reproduction.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#991 Remove github release pipeline
  .github/workflows/release.yaml
Labels: merge at lgtm, topic: release

#994 Fix attribute for ONNX 1.14.1 | fix
  onnxscript/irbuilder.py
Labels: merge at lgtm, topic: release

#993 Show a collapsible dropdown in mismatch error reports | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/error_reproduction.py
Labels: topic: torch_lib, merge at lgtm

#383 Implement onnx reference evaluator as an eager backend | evaluator
  onnxscript/evaluator.py
  onnxscript/tests/eager_mode_test.py
Labels: topic: eager mode

#1000 Create div variants for int inputs | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1003 Support >2G model export | torchlib(feat)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/graph_building_test.py
Labels: topic: torch_lib

#995 Fix slice_scatter
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#849 Type constraint deducer for OnnxFunction | feat(torch_lib)
  onnxscript/function_libs/tools/torch_lib/deduce_type_constraints.py
  onnxscript/function_libs/tools/torch_lib/deduce_type_constraints_test.py
  onnxscript/function_libs/torch_lib/registration.py
Labels: topic: torch_lib, merge at lgtm

#1015 Fix permute for all tested inputs | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1014 Extend 'TorchScriptGraph' with field 'domain_name'
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/graph_building_test.py
Labels: topic: torch_lib

#957 Surface the preview package in readme | docs
  README.md
Labels: documentation, merge at lgtm

#1005 Bump ORT version to 1.16.0.dev20230824001 and enable tests | ci(torchlib)
  onnxscript/backend/onnx_backend_test.py
  onnxscript/backend/onnx_export_test.py
  onnxscript/converter_test.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/common/onnx_script_test_case.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
  requirements/ci/requirements-ort-nightly.txt
Labels: topic: torch_lib

#1023 Add initializer setter to support constant tensors in fake mode export | torchlib(feat)
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib

#1026 Pin onnx-weekly to dev20230807 in requirements-dev | fix(release)
  requirements-dev.txt
Labels: merge at lgtm

#1028 Implement `aten::round.decimals` | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1030 Move the test steps out of the dev-release pipeline | ci(release)
  .azure-pipelines/_release-template.yml
  .azure-pipelines/release.yml
Labels: run release CIs, topic: release

#1024 Implement `aten::_softmax` | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1034 Create aten_normal_float_float | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, topic: ci

#1032 Add Op(multinomial) | torchlib(feat)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1038 Implement maximum/minimum for Boolean inputs | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1036 Fix aten_var_mean for float16 inputs
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib
