Repository microsoft/onnxscript, pull requests merged in 2023-06, with the labels that each got.

#753 Add op (max_pool1d) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#757 Fix op (MaxPool) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: bug, topic: torch_lib

#767 App op (atleast_1d and atleast_2d and atleast_3d) | feat (torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#755 Fix 'attr_proto' with latest onnx, bump onnx-weekly | chore(deps), fix(irbuilder)
  onnxscript/irbuilder.py
  requirements/ci/requirements-onnx-weekly.txt
Labels: bug, merge at lgtm

#768 opgen: translate type constraints in an OpSchema to typing.TypeVars in the static API
  onnxscript/onnx_opset/_impl/opset1.py
  onnxscript/onnx_opset/_impl/opset10.py
  onnxscript/onnx_opset/_impl/opset11.py
  onnxscript/onnx_opset/_impl/opset12.py
  onnxscript/onnx_opset/_impl/opset13.py
  onnxscript/onnx_opset/_impl/opset14.py
  onnxscript/onnx_opset/_impl/opset15.py
  onnxscript/onnx_opset/_impl/opset16.py
  onnxscript/onnx_opset/_impl/opset17.py
  onnxscript/onnx_opset/_impl/opset18.py
  onnxscript/onnx_opset/_impl/opset2.py
  onnxscript/onnx_opset/_impl/opset3.py
  onnxscript/onnx_opset/_impl/opset4.py
  onnxscript/onnx_opset/_impl/opset5.py
  onnxscript/onnx_opset/_impl/opset6.py
  onnxscript/onnx_opset/_impl/opset7.py
  onnxscript/onnx_opset/_impl/opset8.py
  onnxscript/onnx_opset/_impl/opset9.py
  onnxscript/onnx_opset/_impl/opset_ai_onnx_ml1.py
  onnxscript/onnx_opset/_impl/opset_ai_onnx_ml2.py
  onnxscript/onnx_opset/_impl/opset_ai_onnx_ml3.py
  onnxscript/onnx_opset/_impl/opset_ai_onnx_preview_training1.py
  opgen/onnx_opset_builder.py
Labels: topic: typing, topic: ux, topic: api

#762 Add op (hsatck & vstack) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: help wanted, topic: torch_lib

#770 Bump ORT to 1.15 | chore(deps)
  noxfile.py
  onnxscript/onnx_opset/__init__.py
  onnxscript/onnx_opset/_impl/opset19.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
  onnxscript/tests/functions/onnxfns2_test.py
  requirements/ci/requirements-ort-nightly.txt
Labels: dependencies, hold on merging, merge at lgtm

#764 Properly check for optional function ir input, fix cross_entropy_loss and test
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
  onnxscript/type_annotation.py
  onnxscript/values.py
Labels: bug, topic: torch_lib, topic: typing, change base before merge

#758 Preserve correct params order in FunctionIR
  onnxscript/_internal/param_manipulation.py
  onnxscript/evaluator.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/irbuilder.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
  onnxscript/values.py
  onnxscript/values_test.py
Labels: enhancement, change base before merge, topic: api

#759 Fix 'aten.gather' input order | fix(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, change base before merge, topic: eager mode

#779 Remove trace_only for scatter_add | chore(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#782 Remove deprecated usage in onnx | fix(autocast)
  onnxscript/autocast.py
Labels: merge at lgtm

#778 opgen: unique names for TypeVars; TypeAlias for some outputs
  .lintrunner.toml
  onnxscript/onnx_opset/__init__.py
  onnxscript/onnx_opset/_impl/opset1.py
  onnxscript/onnx_opset/_impl/opset10.py
  onnxscript/onnx_opset/_impl/opset11.py
  onnxscript/onnx_opset/_impl/opset12.py
  onnxscript/onnx_opset/_impl/opset13.py
  onnxscript/onnx_opset/_impl/opset14.py
  onnxscript/onnx_opset/_impl/opset15.py
  onnxscript/onnx_opset/_impl/opset16.py
  onnxscript/onnx_opset/_impl/opset17.py
  onnxscript/onnx_opset/_impl/opset18.py
  onnxscript/onnx_opset/_impl/opset19.py
  onnxscript/onnx_opset/_impl/opset2.py
  onnxscript/onnx_opset/_impl/opset3.py
  onnxscript/onnx_opset/_impl/opset4.py
  onnxscript/onnx_opset/_impl/opset5.py
  onnxscript/onnx_opset/_impl/opset6.py
  onnxscript/onnx_opset/_impl/opset7.py
  onnxscript/onnx_opset/_impl/opset8.py
  onnxscript/onnx_opset/_impl/opset9.py
  onnxscript/onnx_opset/_impl/opset_ai_onnx_ml1.py
  onnxscript/onnx_opset/_impl/opset_ai_onnx_ml2.py
  onnxscript/onnx_opset/_impl/opset_ai_onnx_ml3.py
  onnxscript/onnx_opset/_impl/opset_ai_onnx_preview_training1.py
  opgen/onnx_opset_builder.py
  opgen/pygen.py
Labels: topic: typing, change base before merge, topic: api

#787 Remove obsolete test skips | chore(test)
  onnxscript/tests/functions/onnxfns1A_test.py
  onnxscript/tests/functions/onnxfns2_test.py
  onnxscript/tests/functions/onnxfns_test.py
  pyproject.toml
Labels: merge at lgtm, topic: better engineering

#793 Simplify runtime type checking decorator | chore(typing)
  onnxscript/_internal/_beartype.py
  onnxscript/_internal/runtime_typing.py
  onnxscript/diagnostics/infra/decorator.py
  onnxscript/diagnostics/infra/formatter.py
  onnxscript/diagnostics/infra/utils.py
Labels: topic: typing

#714 Add op (STFT) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: help wanted, topic: torch_lib

#800 Rename STFT private function | chore(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#801 Merge the various data maps and lists into a unified structure | test(torchlib)
  noxfile.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, topic: testing

#791 Implement add* ops | feat(torchlib) (#785)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/tensor_typing.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#803 Leverage TorchLibOpInfo in more tests and clean up variables | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, topic: testing, merge at lgtm

#804 Specify tolerance for individual tests | test(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, change base before merge, topic: testing

#792 Add ops (addr) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/tensor_typing.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#810 Add ops (tensor.int, tensor.float, tensor.bool) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#813 Bump ORT nightly to 1.16.0.dev20230625001 | chore(deps)
  requirements/ci/requirements-ort-nightly.txt
Labels: dependencies, merge at lgtm

#814 Add ops (view*) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/tensor_typing.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#823 Add ops (erf*) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib
