Repository microsoft/onnxscript, pull requests merged in 2023-01, with the labels that each got.

#243 poc: Use the functionlib
  onnxscript/function_libs/torch_aten/ops/__init__.py
  onnxscript/poc/os_graph_builder.py
Labels: topic: aten lib

#261 feat(atenlib): use typevars for functions
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/fft.py
  onnxscript/function_libs/torch_aten/ops/linalg.py
  onnxscript/function_libs/torch_aten/ops/nested.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/function_libs/torch_aten/ops/sparse.py
  onnxscript/function_libs/torch_aten/ops/special.py
  onnxscript/function_libs/torch_aten/typing.py
  onnxscript/irbuilder.py
Labels: topic: aten lib

#266 feat(atenlib): ops 5/n
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/function_libs/torch_aten/typing.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#286 feat(atenlib): where, full
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#279 feat(atenlib): ops 7/n
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#274 feat(atenlib): index_select; trace_only ops
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/registration.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib, topic: syntax

#265 add reshape/view/expand/div/clone/eq/equal
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/special.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#285 feat(atenlib): arange with overloads
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/typing.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#281 feat(atenlib): logarithmic ops; test aten::full
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/function_libs/torch_aten/ops/special.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#302 fix(atenlib): cast size to int64 in aten_full
  onnxscript/function_libs/torch_aten/ops/core.py
Labels: topic: aten lib

#301 feat(atenlib): topk; bool argument type annotation; node of multiple outputs
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/common/testutils.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
  onnxscript/test/type_annotation_test.py
  onnxscript/type_annotation.py
Labels: topic: aten lib, topic: syntax

#264 add empty/empty_like/log_softmax/cat function
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/special.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#308 test(atenlib): split mappings to two
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
  onnxscript/test/onnx_backend_test.py
  pyproject_pylint.toml
Labels: topic: aten lib

#304 add ops: slice
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#306 Add a new op embedding.
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#293 Add permute and pow ops and fix attribute value issue.
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
  onnxscript/values.py
Labels: topic: aten lib

#319 test(atenlib): explicitly convert ints to int64
  codecov.yml
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
  pyproject.toml
Labels: topic: aten lib, topic: ci

#321 chore(release): remove numpy version requirements
  pyproject.toml
  requirements-dev.txt
  requirements-onnx.txt
Labels: hold on merging, topic: ci

#325 fix(atenlib): GE and LE op
  onnxscript/function_libs/torch_aten/ops/core.py
Labels: topic: aten lib

#323 feat(atenlib): add ops(gelu, celu)
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#330 feat(atenlib): add ops(native_layer_norm)
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#332 chore(ci): test with tox
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  azure-pipelines.yml
  onnxscript/backend/onnx_export.py
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
  pyproject.toml
  requirements-dev.txt
  requirements-onnx.txt
  tox.ini
Labels: topic: aten lib, topic: testing

#333 feat(atenlib): implementation of conv2d
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#335 feat: generalized `Evaluator` and `Tensor` interfaces
  onnxscript/evaluator.py
  onnxscript/main.py
  onnxscript/tensor.py
  onnxscript/test/tensor_test.py
  onnxscript/values.py
Labels: topic: aten lib, topic: api

#331 chore(ci): do not run codeql on draft PRs
  .github/workflows/codeql-analysis.yml
Labels: topic: ci

#316 Extend type annotation support
  onnxscript/converter.py
  onnxscript/type_annotation.py
Labels: topic: syntax

#349 Clean up the torchscript evaluator
  onnxscript/function_libs/torch_aten/graph_building.py
Labels: hold on merging

#350 fix(atenlib): better trace only ops
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/test/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#352 feat(eager): move user mode adaptation to inside evaluators
  onnxscript/evaluator.py
  onnxscript/values.py
Labels: topic: aten lib, topic: api

#355 fix(autocast): default int to int64
  onnxscript/autocast.py
  onnxscript/evaluator.py
Labels: topic: eager mode

#356 Fix types and address comments
  onnxscript/function_libs/torch_aten/graph_building.py
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/function_libs/torch_aten/ops/special.py
  onnxscript/function_libs/torch_aten/tensor_typing.py
Labels: topic: aten lib

#365 feat(testing): expose the graph isomorphism testing utils
  onnxscript/testing.py
  onnxscript/tests/common/testutils.py
Labels: topic: api

#361 feat(atenlib): conv2d
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#375 fix(atenlib): clean up ops and fix errors
  onnxscript/function_libs/torch_aten/ops/core.py
  onnxscript/function_libs/torch_aten/ops/nn.py
  onnxscript/function_libs/torch_aten/ops/sparse.py
  onnxscript/tests/function_libs/torch_aten/ops_correctness_test.py
Labels: topic: aten lib

#395 chore(test): use nox instead of tox to run tests
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  noxfile.py
  tox.ini
Labels: topic: ci
