Repository microsoft/onnxscript, pull requests merged in 2023-07, with the labels that each got.

#826 Make beartype optional | chore(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib, merge at lgtm

#819 Expose opset19 and new dtypes
  onnxscript/__init__.py
Labels: topic: api

#831 Add op (unbind) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#833 Add ops (mT, mH, conj, concat) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/README.md
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#840 Explicitly supply providers to ORT InferenceSession | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
Labels: topic: torch_lib, merge at lgtm

#839 Implement aten.bernoulli.p | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#850 Use the builtin bernoulli test | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#852 Enable int64 tests for torchlib | test(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#861 Simplify bernoulli implementation | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#835 Make aten::contiguous and device_put no-op | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/prims.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#863 Allow functions to be registered to multiple names | feat(torchlib)
  onnxscript/function_libs/torch_lib/registration.py
Labels: topic: torch_lib, change base before merge

#866 Remove castlike in aten_add | chore(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#867 Properly check and guard overloading initializer name | fix(graph_building)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/graph_building_test.py
Labels: topic: torch_lib

#871 Rename extra opinfo names and simplify the OpInfos | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, hold on merging

#874 Skip reduce min/max ops on Windows | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#876 Break aten::max into overloads | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#878 Fix strides for avg_pool2d when it is empty | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#677 Split arg{max,min} into arg{max,min}_dim and improve function signatures | feat(atenlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#881 Rename intermediate values to `_val` and `_const` | feat(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib

#883 Implement aten::index | feat(torchlib) (#862)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, change base before merge

#887 Remove the `apply` method in `TorchScriptGraph` | feat!(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib, topic: breaking changes

#890 Support OptionalType to get shape | feat(graph_building)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/graph_building_test.py
Labels: topic: torch_lib, merge at lgtm

#895 Temporarily rename package to onnxscript-preview during release | chore(release)
  .github/workflows/release.yaml
Labels: run release CIs, topic: release

#754 Add op (AvgPool) | feat (torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#893 Add op(unfold) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#897 Split linear into two overloads | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#907 Add BOOL variants to bitwise ops | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#886 Change `_const` prefix to `_val` | feat(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib

#908 AddOp(linalg_vector_norm) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/linalg.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#919 Add overlooked overload information on torchlib functions
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#922 TorchScriptTensor to cache torch dtype for performance | feat(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib, change base before merge

#931 Fix aten::nonzero. Add aten::scalar_tensor overload for sym number
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#928 Implement aten::lift_fresh_copy* ops | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#921 Create action to display test results on Github | test
  .github/workflows/main.yaml
Labels: topic: ci

#930 Temporary solution for demo | chore(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/graph_building_test.py
Labels: topic: torch_lib

#935 Run onnxscript-preview release workflow daily | chore(release)
  .github/workflows/release.yaml
Labels: change base before merge, run release CIs, topic: release

#904 Stable logcumsumexp | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#938 Update package metadata | chore(release)
  pyproject.toml
Labels: topic: release

#937 Do not cache inference sessions in eager evaluator | fix(evaluator)
  .github/workflows/main.yaml
  onnxscript/_internal/feature_switch.py
  onnxscript/evaluator.py
Labels: topic: eager mode, merge at lgtm

#932 Enable bool and int32 tests | test(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, hold on merging

#941 Remove old azure-pipelines
  azure-pipelines.yml
Labels: topic: ci

#942 Create publish pipelines in Azure | chore(release)
  .azure-pipelines/release-dev.yml
  .azure-pipelines/release.yml
Labels: topic: ci

#943 Fix syntax error in AzurePipelines: move displayName
  .azure-pipelines/release-dev.yml
  .azure-pipelines/release.yml
Labels: topic: ci, topic: release

#946 Create templates for Azure Pipeline reuse | chore(release)
  .azure-pipelines/_release-template.yml
  .azure-pipelines/release-dev.yml
  .azure-pipelines/release.yml
Labels: topic: ci
