Repository microsoft/onnxscript, pull requests merged in 2023-05, with the labels that each got.

#698 Retire `get_schema` in Op | chore!(api)
  onnxscript/converter.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/values.py
Labels: change base before merge, topic: api, topic: breaking changes

#700 Skip incompatible dtypes in op_test using OpSchema | test(torchlib)
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  requirements/ci/requirements-pytorch-nightly.txt
Labels: topic: torch_lib, topic: testing

#710 Update the domain for torch_lib functions | chore(torchlib)
  onnxscript/function_libs/torch_lib/registration.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
Labels: topic: torch_lib

#712 Add output types to attention | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#709 Support complex | feat(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#715 Disable `py/cyclic-import` in codeql
  .github/codeql/codeql-config.yml
Labels: topic: ci, topic: better engineering

#711 Indexing and slicing support
  docs/tutorial/index.md
  onnxscript/autocast.py
  onnxscript/tensor.py
  onnxscript/tensor_test.py
Labels: topic: api

#719 Refactor Overloads | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/function_libs/torch_lib/registration.py
Labels: topic: torch_lib

#720 Add Op (getitem) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#727 add float16 test base functions and data
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: hold on merging

#721 Fix ops type/name and adapt API to support torch dispatcher/registry | feat(torchlib)
  onnxscript/__init__.py
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/registration.py
  onnxscript/values.py
Labels: topic: torch_lib

#735 test functions in fp16
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: testing

#736 Refine op(full_like) for float16
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: testing

#744 Refactor op(scatter add) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: bug, topic: torch_lib

#747 Add op(logit) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#748 Add op(mean) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#725 Model local function building | feat(graph_building)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/graph_building_test.py
Labels: topic: torch_lib
