Repository microsoft/onnxscript, pull requests merged in 2024-07, with the labels that each got.

#1629 Support optional attribute checking in matcher
  onnxscript/ir/_convenience.py
  onnxscript/rewriter/pattern.py
  onnxscript/rewriter/pattern_test.py
Labels: topic: rewriter

#1718 [torchlib] Implement silu and fix ones_like
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1704 [IR] Create a convenience function to create name->value mappings
  onnxscript/ir/_convenience.py
Labels: topic: IR

#1715 Add aten_hardtanh_backward function
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#1719 Register `aten::pow.Scalar` for `aten::pow`
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1724 Add aten_prod function
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1726 [torchlib] Implement `aten::type_as`
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1727 [torchlib] Update type annotation for type_as
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1728 [torchlib] Implement `aten::prelu`
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_common.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1706 [torchlib] Implement missing operators (set1)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/linalg.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1702 [docs] Update README.md for brief descriptions of optimizer and rewriter tools.
  README.md
Labels: documentation, topic: rewriter, topic: optimizer

#1733 [torchlib] Add missing operators (set 2)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/special.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1732 [torchlib] Implement quantize/dequantize operators
  onnxscript/_internal/ast_utils.py
  onnxscript/function_libs/torch_lib/ops/__init__.py
  onnxscript/function_libs/torch_lib/ops/quantized_decomposed.py
  onnxscript/function_libs/torch_lib/registration.py
  onnxscript/main.py
  onnxscript/values.py
Labels: topic: torch_lib

#1736 [torchlib] Fix registration typo in expm1
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/special.py
Labels: topic: torch_lib, merge at lgtm

#1737 [torchlib] Fix and improve quantization support
  onnxscript/function_libs/torch_lib/graph_building/_graph_building_torch.py
  onnxscript/function_libs/torch_lib/ops/common.py
  onnxscript/function_libs/torch_lib/ops/quantized_decomposed.py
  tests/function_libs/torch_lib/quantization_test.py
Labels: topic: torch_lib

#1738 [typing] Make the `runtime_typing.checked` always typed
  onnxscript/_internal/runtime_typing.py
Labels: topic: better engineering

#1740 [torchlib] Fix registrations 3/n
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1741 Fix weekly CI pipeline errors
  onnxscript/function_libs/torch_lib/graph_building/_graph_building_torch.py
  onnxscript/ir/serde_test.py
Labels: topic: ci, merge at lgtm

#1747 Add op (std, std.dim, std.correction) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1742 [torchlib] Fix linspace and full
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1748 Add op (std_mean, std_mean.dim, std_mean.correction) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1750 Add Op (group_norm) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1751 [torchlib] Remove adaptive_avg_pool implementation
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1739 Cleanup new-IR based constant propagation
  onnxscript/ir/_convenience.py
  onnxscript/ir/convenience.py
  onnxscript/optimizer/_constant_folding.py
  onnxscript/rewriter/pattern.py
Labels: topic: optimizer

#1754 [torchlib] Improve aten::fill
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tools/benchmark/benchmark_helpers.py
  onnxscript/tools/transformers_models/__init__.py
Labels: merge at lgtm

#1734 Extend basic matcher to handle multiple-output-nodes
  onnxscript/rewriter/generic_pattern.py
  onnxscript/rewriter/generic_pattern_test.py
  onnxscript/rewriter/pattern.py
Labels: topic: rewriter

#1755 [torchlib] Fix aten::diagonal
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1767 [DRAFT] Change parameter names of builder methods for domain, version, outputs
  docs/tutorial/rewriter/examples/erfgelu.py
  onnxscript/optimizer/_constant_folding.py
  onnxscript/rewriter/erfgelu.py
  onnxscript/rewriter/generic_pattern_test.py
  onnxscript/rewriter/llama_rule_sets.py
  onnxscript/rewriter/onnxruntime/fused_matmul_rule_sets.py
  onnxscript/rewriter/onnxruntime/group_normalization_merge_silu.py
  onnxscript/rewriter/onnxruntime/instance_to_group_normalization.py
  onnxscript/rewriter/pattern.py
  onnxscript/rewriter/pattern_test.py
Labels: topic: api
