Repository microsoft/onnxscript, pull requests merged in 2024-01, with the labels that each got.

#1253 Implement torchvision operator `nms` | feat(torchlib)
  noxfile.py
  onnxscript/function_libs/torch_lib/ops/__init__.py
  onnxscript/function_libs/torch_lib/ops/vision.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
  requirements/ci/requirements-pytorch-nightly.txt
Labels: topic: torch_lib, merge at lgtm

#1254 Fix upsample_bilinear to respect align_corner argument
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: bug, topic: torch_lib

#1255 Refactor and fix upsample 2d | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1245 Add op(upsample linear1d) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1217 Fix fp16 aten_native_batch_norm when bias is None and training is True
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1260 AddOp(upsample_trilinear3d) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib
