Repository microsoft/onnxscript, pull requests merged in 2024-03, with the labels that each got.

#1286 Implement ATen complex and polar | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1289 Fix and simplify native_batch_norm | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1296 Exclude test files with MANIFEST.in
  MANIFEST.in
Labels: topic: better engineering

#1277 Fix implementation of index_put, validate it with dort | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1300 Mark more functions as traceable | feat(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/fft.py
  onnxscript/function_libs/torch_lib/ops/linalg.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
  requirements-dev.txt
Labels: topic: torch_lib

#1303 Fix eager evaluation of the `Rank` op | fix(torchlib)
  onnxscript/function_libs/torch_lib/graph_building.py
Labels: topic: torch_lib

#1298 Fix implementation of index_put | fix(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1311 Enable additional ruff rules
  docs/examples/01_plot_selu.py
  onnxscript/__init__.py
  onnxscript/_internal/analysis.py
  onnxscript/backend/onnx_backend.py
  onnxscript/converter_test.py
  onnxscript/diagnostics/infra/context.py
  onnxscript/diagnostics/infra/decorator.py
  onnxscript/evaluator.py
  onnxscript/evaluator_test.py
  onnxscript/function_libs/tools/torch_lib/deduce_type_constraints.py
  onnxscript/function_libs/tools/torch_lib/generate_aten_signatures.py
  onnxscript/function_libs/tools/torch_lib/generate_prims_signatures.py
  onnxscript/function_libs/torch_lib/graph_building.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/irbuilder.py
  onnxscript/testing.py
  onnxscript/tests/function_libs/torch_lib/ops_test.py
  onnxscript/tests/function_libs/torch_lib/ops_test_common.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
  onnxscript/values.py
  opgen/__main__.py
  pyproject.toml
Labels: merge at lgtm, topic: better engineering

#1315 Add support for _unsafe_index_put
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/tests/function_libs/torch_lib/extra_opinfo.py
  onnxscript/tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm
