Repository microsoft/onnxscript, pull requests merged in 2024-11, with the labels that each got.

#1925 [rewriter] Remove redundant op.Slice and op.ScatterND
  onnxscript/optimizer/_optimizer.py
  onnxscript/rewriter/collapse_slices.py
  onnxscript/rewriter/collapse_slices_test.py
  onnxscript/rewriter/no_op.py
  onnxscript/rewriter/testing.py
Labels: topic: rewriter

#1930 [IR] Create tensor adapters
  noxfile.py
  onnxscript/ir/tensor_adapters.py
  onnxscript/ir/tensor_adapters_test.py
  pyproject_pylint.toml
Labels: topic: IR

#1931 Fix CI
  onnxscript/rewriter/testing.py
Labels: broken ci, merge at lgtm

#1924 Use IR types to define onnx_types
  onnxscript/onnx_types.py
  tests/onnx_types_test.py
Labels: topic: typing

#1921 [Rewriter Rules] Fix Expand-Identity rule
  onnxscript/rewriter/llama_rule_sets.py
  onnxscript/rewriter/llama_rule_sets_test.py
Labels: topic: rewriter

#1936 Fix CI - rewrite rule test of scatternd
  onnxscript/rewriter/collapse_slices_test.py
Labels: broken ci

#1937 A couple of optimizer and rewriter extensions
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/_constant_folding_test.py
  onnxscript/rewriter/pattern.py
Labels: topic: optimizer

#1940 [IR] Create getters for the Attr class
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/_inliner.py
  onnxscript/optimizer/_remove_unused.py
Labels: topic: api, topic: IR

#1949 [rewriter] Fix slices pattern
  onnxscript/rewriter/collapse_slices.py
  onnxscript/rewriter/collapse_slices_test.py
Labels: merge at lgtm, topic: rewriter

#1957 [torchlib] Make binary comparison ops and more traceable
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1958 [torchlib] Simplify aten_sum_dim_IntList
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1959 [IR] Expose the convenience module to public
  onnxscript/ir/__init__.py
Labels: topic: api, topic: IR

#1962 [torchlib] Fix aten_mean_dim
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1963 [Stable APIs] Create torchlib_opset for torch 2.6
  onnxscript/_framework_apis/torch_2_6.py
Labels: topic: api

#1964 [torchlib] Fix aten_instance_norm
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib
