Repository microsoft/onnxscript, pull requests merged in 2024-10, with the labels that each got.

#1894 [torchlib] Include bfloat16 as part of the float types
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/function_libs/torch_lib/tensor_typing.py
Labels: topic: torch_lib

#1895 Bump onnx-weekly in CI
  requirements/ci/requirements-onnx-weekly.txt
Labels: topic: ci

#1885 Check inputs num for node matching
  onnxscript/rewriter/pattern.py
Labels: topic: rewriter

#1901 [torchlib] Fix wrong bias shape of ConvTranspose
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1892 A few fixes relating to constant propagation
  docs/tutorial/rewriter/examples/broadcast_matmul.py
  onnxscript/optimizer/__init__.py
  onnxscript/optimizer/_constant_folding.py
  onnxscript/rewriter/_ir_utils.py
  onnxscript/rewriter/broadcast_to_matmul.py
  onnxscript/rewriter/onnxruntime/instance_to_group_normalization.py
  onnxscript/rewriter/onnxruntime/transformers/layernorm.py
  onnxscript/rewriter/onnxruntime/transformers/multihead_attention.py
  onnxscript/rewriter/pattern.py
  onnxscript/rewriter/pattern_test.py
Labels: topic: IR, topic: optimizer

#1903 Use input size limits for constant folding
  onnxscript/optimizer/__init__.py
  onnxscript/optimizer/_constant_folding.py
Labels: topic: optimizer

#1907 [torchlib] Do not register rsub
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1905 [IR] Do not serialize the trailing outputs that have empty names
  onnxscript/ir/serde.py
  onnxscript/optimizer/_remove_unused_test.py
Labels: topic: IR

#1908 [IR] Support float4e2m1
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
  onnxscript/ir/_enums.py
  onnxscript/ir/_enums_test.py
  onnxscript/ir/_type_casting.py
  onnxscript/ir/serde.py
Labels: topic: IR

#1912 A couple of extensions to rewriter
  onnxscript/rewriter/pattern.py
Labels: topic: rewriter

#1913 [torchlib] Fix aten::arange to support dynamic shapes
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1916 [torchlib] Use traced function param schema to process inputs
  onnxscript/_internal/param_manipulation.py
  onnxscript/function_libs/torch_lib/graph_building/_graph_building_torch.py
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: testing

#1838 Introduce OpSignature to IR
  onnxscript/_internal/deprecation.py
  onnxscript/ir/_schemas.py
  onnxscript/ir/_schemas_test.py
  onnxscript/values.py
Labels: topic: api, topic: IR

#1922 Update opgen for it to be runnable
  opgen/README.md
  opgen/__main__.py
  opgen/onnx_opset_builder.py
Labels: topic: codegen

#1928 [torchlib] Remove all internal namespaces
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib
