Repository microsoft/onnxscript, pull requests merged in 2024-09, with the labels that each got.

#1840 [torchlib] Mark add/sub as trace_only
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1849 [torchlib] Use ReduceL2 to implement abs_complex
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1813 [rewriter] Create the Dropout->Identity rules
  onnxscript/rewriter/no_op.py
  onnxscript/rewriter/no_op_test.py
Labels: merge at lgtm, topic: rewriter

#1828 [IR] Implement topological sorting on Graph
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
Labels: topic: graph transform, topic: IR

#1851 [IR] Fix bug in Model str method
  onnxscript/ir/_core.py
Labels: merge at lgtm, topic: IR

#1852 Setup Codecov test
  .github/workflows/main.yaml
Labels: topic: ci

#1834 [torchlib] [ci] Fix failing external data tests for Windows
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
  onnxscript/ir/_external_data.py
  onnxscript/ir/_external_data_test.py
Labels: topic: torch_lib, broken ci

#1854 [torchlib] Support int input for floor_divide
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/extra_opinfo.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1863 [torchlib] Fix aten_empty_like
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1866 [torch api] Enable `_TORCH_ONNX_SAVE_EXTERNAL_DATA_WITH_IR`
  onnxscript/_framework_apis/torch_2_5.py
Labels: topic: api

#1867 [torchlib] Unregister stft, var, var_mean, std, std_mean
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1865 Fixes for IR optimizer
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/_inliner.py
Labels: topic: optimizer

#1872 Bug fixes in split-sequence optimization
  onnxscript/optimizer/_constant_folding.py
Labels: topic: optimizer

#1874 [torchlib] Implement upsample_nearest{nd}.vec
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/extra_opinfo.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1879 [torchlib] Support mod and eq on SymInt
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1880 [torchlib] Fix upsample_output_size
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib, merge at lgtm
