Repository microsoft/onnxscript, pull requests merged in 2024-06, with the labels that each got.

#1582 Add link to the documentation on README.md
  README.md
Labels: documentation

#1585 Remove traceable from `_aten_scaled_dot_product_efficient_attention_fillin_empty_outputs`
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#1587 Preserve function signatures for OnnxFunction; stabilize `traceable` option
  onnxscript/function_libs/torch_lib/graph_building/_graph_building_ir.py
  onnxscript/function_libs/torch_lib/graph_building/_graph_building_torch.py
  onnxscript/function_libs/torch_lib/registration.py
  onnxscript/values.py
  onnxscript/values_test.py
Labels: topic: api, topic: onnxscript core

#1592 Add Op (upsample_trilinear_vec) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/extra_opinfo.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1594 FixOp (argmax, argmin) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1604 [docs] Fix model path in IR getting started
  docs/intermediate_representation/getting_started.ipynb
Labels: merge at lgtm

#1605 Fix aten_cumsum traced mode
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1606 [torchlib] Fix names for registered functions
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#1610 Miscellaneous imporovements
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/special.py
  onnxscript/ir/_core.py
  onnxscript/ir/serde.py
  onnxscript/values.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, topic: IR

#1628 Refactors onnxscript.rewriter.onnxruntime.rewrite to call onnx.rewriter.rewrite
  docs/api/tools.md
  onnxscript/_legacy_ir/visitor.py
  onnxscript/optimizer/remove_unused_ir.py
  onnxscript/rewriter/__init__.py
  onnxscript/rewriter/onnxruntime/__init__.py
Labels: topic: rewriter

#1622 Add first rewriting patterns for llama adding onnxruntime contrib ops
  onnxscript/optimizer/constant_folding.py
  onnxscript/rewriter/generic_pattern.py
  onnxscript/rewriter/onnxruntime/__init__.py
  onnxscript/rewriter/onnxruntime/fused_matmul_rule_sets.py
  onnxscript/rewriter/onnxruntime/fused_matmul_rule_sets_test.py
  onnxscript/rewriter/pattern.py
  onnxscript/tools/benchmark/benchmark_helpers.py
  onnxscript/tools/benchmark/export_model.py
  onnxscript/tools/benchmark/export_model_batch.py
  onnxscript/tools/benchmark/export_model_test.py
Labels: topic: rewriter

#1613 [torchlib] Fix more signatures
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/extra_opinfo.py
  tests/function_libs/torch_lib/ops_test.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, hold on merging

#1703 [torchlib] Add the identity nodes back
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/rewriter/llama_rule_sets_test.py
Labels: topic: torch_lib

#1695 [torchlib] Add torchlib operator for glu
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib
