Repository microsoft/onnxscript, pull requests merged in 2024-08, with the labels that each got.

#1770 Track nodes added in pattern builder
  onnxscript/rewriter/cast_constant_of_shape.py
  onnxscript/rewriter/gemm_to_matmul_add.py
  onnxscript/rewriter/llama_rule_sets.py
  onnxscript/rewriter/no_op.py
  onnxscript/rewriter/onnxruntime/fused_matmul_rule_sets.py
  onnxscript/rewriter/onnxruntime/softmax.py
  onnxscript/rewriter/pattern.py
  onnxscript/rewriter/pattern_test.py
Labels: topic: rewriter

#1784 [torchlib] Implement nll_loss_forward
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1781 [torchlib] Fix aten::arange
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1788 [torchlib] Mark trig ops as traceable
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1787 [CI] Enable merge_group in workflows
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
Labels: topic: ci

#1790 [torchlib] Fix zeros_like signature
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1789 [torchlib] Fix _log_softmax
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1795 [torchlib] Opportunistically implement prims ops
  onnxscript/function_libs/torch_lib/ops/prims.py
Labels: topic: torch_lib

#1801 [IR] Implement save/load functions in IR and handle external data properly
  onnxscript/ir/__init__.py
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
  onnxscript/ir/_external_data.py
  onnxscript/ir/_external_data_test.py
  onnxscript/ir/_io.py
  onnxscript/ir/traversal.py
Labels: topic: IR

#1800 Fix Op (scaled_dot_product_attention) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#1805 [docs] Fix the file not found error in ONNX IR documentation
  docs/intermediate_representation/getting_started.ipynb
Labels: documentation, topic: IR

#1806 [IR] Simplify display()
  onnxscript/ir/_core.py
  onnxscript/ir/_display.py
Labels: topic: IR

#1804 Fix Op (aten::native_batch_norm) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1808 Add Op (aten::flatten) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1809 Fix Op (aten::flatten) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm

#1815 [IR] Remove the Input type
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
  onnxscript/rewriter/onnxruntime/bfloat16_utils/bfloat16_converter.py
Labels: topic: IR

#1817 [IR] Remove ir.Attr* classes
  onnxscript/ir/__init__.py
  onnxscript/ir/_convenience.py
  onnxscript/ir/_core.py
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/remove_unused_ir.py
  onnxscript/rewriter/llama_rule_sets.py
Labels: topic: IR

#1821 Unregister aten_linear
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1822 Trace Ops (aten::scaled_dot_product_attention) | feat (torchlib)
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#1823 [IR] Fix external tensor path handling
  onnxscript/__init__.py
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
  onnxscript/ir/serde.py
Labels: topic: breaking changes, topic: IR

#1826 [torchlib] Implement pixel unshuffle
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib, merge at lgtm

#1825 Trace Op (aten::addmm) | feat(torchlib)
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#1796 [IR] Pass to offload external tensors
  onnxscript/ir/_external_data.py
  onnxscript/ir/_external_data_test.py
Labels: topic: IR

#1832 [API] Create stable APIs for PyTorch 2.5
  onnxscript/_framework_apis/__init__.py
  onnxscript/_framework_apis/torch_2_5.py
  pyproject.toml
Labels: topic: api

#1836 [torchlib] Trace some activation functions
  onnxscript/function_libs/torch_lib/graph_building/graph_building_test.py
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: topic: torch_lib

#1837 Fix baddbmm and scalar_tensor
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib, merge at lgtm
