Repository microsoft/onnxscript, pull requests merged in 2025-09, with the labels that each got.

#2536 [torchlib] Modify aten_unbind to use None for split_sizes
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: module: torchlib

#2540 [torch] Fix incorrect Concat when processing dynamic paddings
  onnxscript/function_libs/torch_lib/ops/nn.py
Labels: module: torchlib

#2541 Add test for dynamic padding
  tests/function_libs/torch_lib/e2e_ops_tests.py
Labels: module: torchlib, merge at lgtm

#2544 [Reland] Update SplitToSequence in constant folding
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/_constant_folding_test.py
Labels: module: optimizer

#2500 [Rewriter]: add fusion rules for successive Min/Max patterns
  onnxscript/rewriter/__init__.py
  onnxscript/rewriter/rules/common/__init__.py
  onnxscript/rewriter/rules/common/_min_max_to_clip.py
  onnxscript/rewriter/rules/common/_min_max_to_clip_test.py
Labels: module: rewriter

#2553 [Rewriter] Add fuse batchnorm to default rules
  onnxscript/rewriter/__init__.py
  onnxscript/rewriter/rules/common/_fuse_batchnorm.py
Labels: module: optimizer

#2472 Add Conv-Affine(Mul+Add) and hardswish fusion
  onnxscript/rewriter/rules/common/__init__.py
  onnxscript/rewriter/rules/common/_fuse_conv_affine.py
  onnxscript/rewriter/rules/common/_fuse_conv_affine_test.py
  onnxscript/rewriter/rules/common/_fuse_hardswish.py
  onnxscript/rewriter/rules/common/_fuse_hardswish_test.py
Labels: module: rewriter

#2567 [rewriter] Remove generic pattern matcher
  .lintrunner.toml
  examples/pattern_rewriting.py
  onnxscript/rewriter/_rewrite_rule.py
  onnxscript/rewriter/generic_pattern.py
  onnxscript/rewriter/generic_pattern_test.py
  pyproject.toml
Labels: module: rewriter

#2582 [torchlib] Support integers in logical_and/or ops and update other logical ops
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: module: torchlib

#2578 Merge output shape with input shape instead of override
  onnxscript/optimizer/_constant_folding.py
Labels: module: optimizer
