Repository microsoft/onnxscript, pull requests merged in 2025-06, with the labels that each got.

#2358 Fix test names for pytest
  onnxscript/rewriter/ort_fusions/cos_sin_cache_test.py
  onnxscript/rewriter/ort_fusions/rotary_embedding_test.py
Labels: topic: ci

#2360 Require onnx-ir 0.1.1
  noxfile.py
  pyproject.toml
Labels: dependencies, merge at lgtm

#2366 Test SDPA fusion via MHA
  onnxscript/rewriter/ort_fusions/sdpa_test.py
  onnxscript/rewriter/ort_fusions/sdpa_via_mha.py
Labels: module: rewriter

#2355 Always fold the `Transpose` node in the constant folder
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/_constant_folding_test.py
Labels: module: optimizer

#2359 docs: cleanup documentation for function-based rewrites📄
  README.md
  docs/tutorial/rewriter/simple_example.md
  onnxscript/rewriter/onnxruntime/__init__.py
  tools/ort_rewriter_profiling/README.md
Labels: topic: documentation

#2331 Fix fused matmul check/rewrite functions
  onnxscript/rewriter/ort_fusions/fused_matmul_rule_sets.py
  onnxscript/rewriter/ort_fusions/fused_matmul_rule_sets_test.py
Labels: module: rewriter

#2365 Update autocast.py to fix attribute creation error
  onnxscript/_internal/autocast.py
  onnxscript/converter.py
  onnxscript/evaluator.py
Labels: merge at lgtm, topic: onnxscript core

#2379 [CI] Fix execnet.gateway_base.DumpError: can't serialize <class 'numpy.int64'>
  tests/eager_test.py
Labels: merge at lgtm

#2374 Fusion extensions to improve GQA fusion
  onnxscript/rewriter/ort_fusions/_core.py
  onnxscript/rewriter/ort_fusions/cos_sin_cache.py
  onnxscript/rewriter/ort_fusions/gqa.py
  onnxscript/rewriter/ort_fusions/gqa_test.py
  onnxscript/rewriter/ort_fusions/mha.py
  onnxscript/rewriter/ort_fusions/mha_test.py
  onnxscript/rewriter/ort_fusions/rotary_embedding.py
  onnxscript/rewriter/ort_fusions/sdpa.py
  onnxscript/rewriter/ort_fusions/sdpa_via_mha.py
Labels: module: rewriter

#2377 [torchlib] Unregister aten::max.other
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: module: torchlib, merge at lgtm

#2364 fix: pattern match gelu from contrib and onnx ops🐛
  onnxscript/rewriter/ort_fusions/bias_gelu.py
  onnxscript/rewriter/ort_fusions/bias_gelu_test.py
Labels: module: rewriter

#2380 Fixes to MHA fusion
  onnxscript/rewriter/ort_fusions/mha.py
Labels: module: rewriter

#2399 [optimizer] Replace value.nbytes with value.size
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/_constant_folding_test.py
  onnxscript/version_converter/_c_api_utils.py
Labels: module: optimizer

#2407 Support dynamic shapes for aten_unfold
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: module: torchlib

#2415 Add sphinx inter link to onnx_ir
  docs/conf.py
Labels: topic: documentation
