Repository microsoft/onnxscript, pull requests merged in 2025-04, with the labels that each got.

#2149 Turn inliner into a pass and use it in rewriter & optimizer
  onnxscript/optimizer/_inliner.py
  onnxscript/optimizer/_optimizer.py
  onnxscript/rewriter/__init__.py
Labels: module: rewriter, topic: passes

#2148 Add fusion rules for com.microsoft.Attention
  onnxscript/rewriter/_fusion_utils.py
  onnxscript/rewriter/ort_fusions/_core.py
  onnxscript/rewriter/ort_fusions/attention.py
  onnxscript/rewriter/ort_fusions/attention_test.py
  onnxscript/rewriter/ort_fusions/mha.py
Labels: module: rewriter, topic: ort-fusions

#2159 Allow fuse_xformers to return a count of different fusions applied
  onnxscript/rewriter/_fusion_utils.py
  onnxscript/rewriter/ort_fusions/_core.py
  onnxscript/rewriter/ort_fusions/attention.py
  onnxscript/rewriter/ort_fusions/cos_sin_cache.py
  onnxscript/rewriter/ort_fusions/fuse_xformers_test.py
  onnxscript/rewriter/ort_fusions/gelu.py
  onnxscript/rewriter/ort_fusions/gqa.py
  onnxscript/rewriter/ort_fusions/mha.py
  onnxscript/rewriter/ort_fusions/mha_test.py
  onnxscript/rewriter/ort_fusions/rms_normalization.py
  onnxscript/rewriter/ort_fusions/rotary_embedding.py
  onnxscript/rewriter/ort_fusions/sdpa.py
  onnxscript/rewriter/ort_fusions/skip_normalization.py
  onnxscript/rewriter/ort_fusions/skip_normalization_test.py
Labels: module: rewriter, topic: ort-fusions

#2161 GQA Fusion
  onnxscript/optimizer/_constant_folding.py
  onnxscript/rewriter/ort_fusions/_test_utils.py
  onnxscript/rewriter/ort_fusions/gqa.py
  onnxscript/rewriter/ort_fusions/gqa_test.py
Labels: module: rewriter, topic: ort-fusions

#2168 Optimization to avoid trying multiple attention-based fusions
  onnxscript/rewriter/ort_fusions/_core.py
  onnxscript/rewriter/ort_fusions/fuse_xformers_test.py
Labels: module: rewriter, topic: ort-fusions

#2164 Handle empty rewrite rules in rewrite function
  onnxscript/optimizer/_inliner.py
  onnxscript/optimizer/_legacy/_optimizer.py
  onnxscript/optimizer/_optimizer.py
  onnxscript/rewriter/__init__.py
  onnxscript/rewriter/pattern.py
Labels: module: rewriter

#2177 Update onnxscript documentation page
  README.md
  setup.py
Labels: topic: documentation

#2160 [Pass] Support lift constants to initializers pass
  onnxscript/ir/_core.py
  onnxscript/ir/passes/common/constant_manipulation.py
  onnxscript/ir/passes/common/constant_manipulation_test.py
  onnxscript/optimizer/_optimizer.py
Labels: module: IR, topic: passes

#2175 Introduce pattern.any_value
  onnxscript/rewriter/ort_fusions/gqa.py
  onnxscript/rewriter/pattern.py
  onnxscript/rewriter/pattern_test.py
Labels: module: rewriter

#2178 Annotate `script()` with `ParamSpec` for more accurate typing
  onnxscript/main.py
  onnxscript/values.py
Labels: topic: api, topic: onnxscript core

#2179 [torchlib] Precompute the constant for gelu to avoid precision loss
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: module: torchlib

#2186 [torchlib] Fix calls to Unsqueeze to provide correct 1d axes
  onnxscript/function_libs/torch_lib/ops/core.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/function_libs/torch_lib/ops/special.py
Labels: module: torchlib

#2189 [Pass] Fix bugs in LiftConstantsToInitializersPass
  onnxscript/ir/passes/common/constant_manipulation.py
  onnxscript/ir/passes/common/constant_manipulation_test.py
Labels: module: optimizer, topic: passes

#2188 Replace ast.NameConstant with ast.Constant and remove duplicates
  onnxscript/_internal/ast_utils.py
  onnxscript/converter.py
  onnxscript/converter_test.py
Labels: topic: better engineering, topic: ast converter

#2190 [pass] Avoid lifting tensors that are too small to initializers
  onnxscript/ir/passes/common/constant_manipulation.py
  onnxscript/ir/passes/common/constant_manipulation_test.py
Labels: module: optimizer, topic: passes

#2191 [pass] Create topological sort pass
  onnxscript/ir/passes/common/topological_sort.py
  onnxscript/ir/passes/common/topological_sort_test.py
Labels: topic: passes

#2192 [pass] Create check to ensure in-place passes are actually inplace
  onnxscript/ir/passes/_pass_infra.py
Labels: module: IR, topic: passes

#2193 Update ort-nightly version in test
  requirements/ci/requirements-ort-nightly.txt
Labels: topic: ci

#2183 [IR] Reconcile graph in Node
  onnxscript/ir/_core.py
  onnxscript/ir/passes/common/constant_manipulation.py
Labels: module: IR

#2182 [Pass] Remove metadata_props and doc_string from the model
  onnxscript/ir/_core.py
  onnxscript/ir/passes/common/clear_metadata_and_docstring.py
  onnxscript/ir/passes/common/clear_metadata_and_docstring_test.py
  onnxscript/ir/serde.py
Labels: topic: breaking changes, topic: passes

#2200 [IR] Implement `model.graphs()`
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
Labels: topic: api, module: IR

#2167 Avoid using fixed value for max_pos_ids in cos_sin_cache fusion
  onnxscript/rewriter/ort_fusions/_smollm_2.py
  onnxscript/rewriter/ort_fusions/cos_sin_cache.py
Labels: module: rewriter, topic: ort-fusions

#2204 Update constant fold to use correct numpy type
  onnxscript/optimizer/_constant_folding.py
Labels: module: optimizer

#2141 Implement fft torchop
  onnxscript/function_libs/torch_lib/ops/fft.py
  onnxscript/ir/tensor_adapters_test.py
  tests/function_libs/torch_lib/extra_opinfo.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: module: torchlib

#2206 [passes] Move inliner to common passes
  onnxscript/ir/passes/common/inliner.py
  onnxscript/ir/passes/common/inliner_test.py
  onnxscript/optimizer/__init__.py
  onnxscript/optimizer/_optimizer.py
  onnxscript/version_converter/__init__.py
Labels: merge at lgtm, topic: passes

#2207 [passes] Remove external_data_folder option from FoldConstantsPass
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/_optimizer.py
Labels: topic: passes

#2199 [pass] Implement checker pass and refactor shape inference
  onnxscript/ir/passes/common/_c_api_utils.py
  onnxscript/ir/passes/common/onnx_checker.py
  onnxscript/ir/passes/common/onnx_checker_test.py
  onnxscript/ir/passes/common/shape_inference.py
  onnxscript/ir/passes/common/shape_inference_test.py
Labels: merge at lgtm, topic: passes

#2180 Remove legacy optimizer
  onnxscript/optimizer/__init__.py
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/_constant_folding_test.py
  onnxscript/optimizer/_function_folding_test.py
  onnxscript/optimizer/_legacy/_optimizer.py
  onnxscript/optimizer/_legacy/_remove_unused_proto.py
  onnxscript/optimizer/_legacy/_simple_function_folding.py
  onnxscript/optimizer/_legacy/_simple_function_folding_test.py
  onnxscript/optimizer/_legacy/constant_folding.py
  onnxscript/optimizer/_legacy/evaluator.py
  onnxscript/optimizer/_optimizer.py
  onnxscript/optimizer/_remove_unused_function.py
  onnxscript/tools/transformers_models/phi_test.py
  tests/optimizer/test_models.py
Labels: module: optimizer

#2220 [IR] Allow pass result as pass input
  onnxscript/ir/passes/_pass_infra.py
  onnxscript/ir/passes/_pass_infra_test.py
Labels: module: IR

#2214 [pass] Create version converter pass
  onnxscript/_framework_apis/torch_2_6.py
  onnxscript/version_converter/__init__.py
  onnxscript/version_converter/_version_converter.py
  onnxscript/version_converter/_version_converter_test.py
  tests/version_converter/version_conversion_test.py
Labels: topic: passes

#2212 [pass] Remove unused initialized inputs in DCE
  onnxscript/ir/passes/common/unused_removal.py
  onnxscript/ir/passes/common/unused_removal_test.py
  onnxscript/optimizer/__init__.py
Labels: topic: passes

#2223 [IR] Handle invalid output deserialization
  onnxscript/ir/serde.py
  onnxscript/ir/serde_test.py
Labels: module: IR

#2222 Add BiasGelu, Erfgelu and SkipLayerNormalization fusions
  onnxscript/rewriter/ort_fusions/_core.py
  onnxscript/rewriter/ort_fusions/_test_utils.py
  onnxscript/rewriter/ort_fusions/bias_gelu.py
  onnxscript/rewriter/ort_fusions/bias_gelu_test.py
  onnxscript/rewriter/ort_fusions/erfgelu.py
  onnxscript/rewriter/ort_fusions/skip_normalization.py
Labels: module: rewriter, topic: ort-fusions

#2210 Allow sdpa fusion to accept custom scale factor
  onnxscript/rewriter/ort_fusions/sdpa.py
  onnxscript/rewriter/ort_fusions/sdpa_test.py
Labels: module: rewriter, topic: ort-fusions

#2227 [IR] Improve documentation 1/n
  .gitignore
  docs/_templates/classtemplate.rst
  docs/intermediate_representation/index.md
  docs/intermediate_representation/ir_api.md
  docs/intermediate_representation/tensors.md
Labels: topic: documentation, merge at lgtm, module: IR

#2224 Improve `ir.node` annotations to accept None inputs
  onnxscript/ir/_convenience/_constructors.py
Labels: module: IR

#2232 Add LazyTensor class to implement ir.TensorProtocol
  docs/ir/ir_api/core.md
  onnxscript/ir/__init__.py
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
Labels: module: IR

#2215 Update proto comparison error message
  onnxscript/testing/__init__.py
  tools/ir/model_zoo_test/model_zoo_test.py
Labels: topic: testing

#2225 [IR] Support specifying output value in Tape
  onnxscript/ir/_tape.py
  onnxscript/ir/_tape_test.py
Labels: module: IR

#2238 [IR] Allow to copy an unfrozen version of the Shape
  onnxscript/ir/_core.py
  onnxscript/ir/_core_test.py
Labels: module: IR

#2247 [IR] Use shape.freeze()
  onnxscript/ir/_core.py
Labels: merge at lgtm, module: IR

#2091 Use ir methods to replace onnx helper
  onnxscript/_internal/autocast.py
  onnxscript/_internal/utils.py
  onnxscript/_legacy_ir/__init__.py
  onnxscript/_legacy_ir/visitor.py
  onnxscript/backend/onnx_backend.py
  onnxscript/backend/onnx_export.py
  onnxscript/evaluator.py
  onnxscript/function_libs/torch_lib/graph_building/_graph_building_torch.py
  onnxscript/function_libs/torch_lib/ops/nn.py
  onnxscript/ir/_convenience/__init__.py
  onnxscript/ir/_convenience/_constructors.py
  onnxscript/irbuilder.py
  onnxscript/main.py
  onnxscript/onnx_types.py
  onnxscript/rewriter/cast_constant_of_shape.py
  onnxscript/rewriter/llama_rule_sets.py
  onnxscript/rewriter/ort_fusions/models/_smollm_1.py
  onnxscript/tensor.py
  onnxscript/testing/__init__.py
  onnxscript/values.py
  pyproject.toml
Labels: topic: better engineering

#2251 Export version_converter and support model proto
  onnxscript/__init__.py
  onnxscript/version_converter/__init__.py
Labels: topic: api

#2249 [IR] Introduce short name for dtypes
  onnxscript/ir/_enums.py
  onnxscript/ir/_enums_test.py
Labels: module: IR
