Repository microsoft/onnxscript, pull requests merged in 2025-08, with the labels that each got.

#2478 Add reproduction test case for incorrect slice rewrite and add potential fix
  onnxscript/rewriter/collapse_slices.py
  onnxscript/rewriter/collapse_slices_test.py
Labels: module: rewriter

#2497 Correctly create empty ints for Constant in rewriter
  onnxscript/rewriter/ort_fusions/shape_optimization.py
Labels: module: rewriter

#2495 Add Erf-based Gelu fusion rule
  onnxscript/rewriter/ort_fusions/gelu.py
  onnxscript/rewriter/ort_fusions/gelu_test.py
Labels: module: rewriter

#2519 Add RMS Normalization variant
  onnxscript/rewriter/onnx_fusions/_rms_normalization.py
Labels: module: rewriter

#2520 Improve symbolic dim tracking
  onnxscript/optimizer/_constant_folding.py
Labels: module: optimizer

#2528 [Rewriter(matmul_add_to_gemm)]: check shapes
  onnxscript/rewriter/matmul_add_to_gemm.py
Labels: module: rewriter

#2532 Add ort-specific passes to ort_fusion
  onnxscript/rewriter/ort_fusions/_core.py
Labels: topic: ort-fusions
