Repository microsoft/onnxscript, pull requests merged in 2025-01, with the labels that each got.

#1994 [torchlib] Squeeze sym_size
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: topic: torch_lib

#1995 [torchlib] Implement window functions
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/extra_opinfo.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#2003 Optimizer extensions
  onnxscript/optimizer/_constant_folding.py
  onnxscript/optimizer/_constant_folding_test.py
Labels: topic: optimizer

#2021 [torchlib] Register aten.linear and use matmul to simplify graph
  onnxscript/function_libs/torch_lib/ops/nn.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#2029 [torch] Fix _operator::{truediv/floordiv}
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#2020 [IR] Improve external data handling
  onnxscript/_framework_apis/torch_2_5.py
  onnxscript/ir/__init__.py
  onnxscript/ir/_core.py
  onnxscript/ir/_external_data.py
  onnxscript/ir/_io.py
  onnxscript/ir/_io_test.py
  onnxscript/ir/_polyfill.py
  onnxscript/ir/external_data.py
  onnxscript/ir/external_data_test.py
Labels: topic: IR

#2032 [torchlib] Implement prims.var
  onnxscript/function_libs/torch_lib/ops/prims.py
  tests/function_libs/torch_lib/extra_opinfo.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: topic: torch_lib

#2034 Bump upload-artifact version in CI
  .github/workflows/main.yaml
Labels: topic: ci, merge at lgtm

#2033 [IR] Remove mkdirs call in external tensor save
  onnxscript/ir/external_data.py
Labels: merge at lgtm, module: IR

#2018 Fix index_put with boolean index
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: module: torchlib

#2013 Attention fusion (part 2)
  .lintrunner.toml
  onnxscript/rewriter/generic_pattern.py
  onnxscript/rewriter/onnxruntime/xformers/__init__.py
  onnxscript/rewriter/onnxruntime/xformers/fuse_xformers.py
  onnxscript/rewriter/onnxruntime/xformers/mha.py
  onnxscript/rewriter/ort_fusions/__init__.py
  onnxscript/rewriter/ort_fusions/_core.py
  onnxscript/rewriter/ort_fusions/_smollm_1.py
  onnxscript/rewriter/ort_fusions/_smollm_2.py
  onnxscript/rewriter/ort_fusions/_test_models.py
  onnxscript/rewriter/ort_fusions/_test_utils.py
  onnxscript/rewriter/ort_fusions/cos_sin_cache.py
  onnxscript/rewriter/ort_fusions/cos_sin_cache_test.py
  onnxscript/rewriter/ort_fusions/gqa.py
  onnxscript/rewriter/ort_fusions/mha.py
  onnxscript/rewriter/ort_fusions/mha_test.py
  onnxscript/rewriter/ort_fusions/rms_normalization.py
  onnxscript/rewriter/ort_fusions/rms_normalization_test.py
  onnxscript/rewriter/ort_fusions/rotary_embedding.py
  onnxscript/rewriter/ort_fusions/rotary_embedding_test.py
  onnxscript/rewriter/ort_fusions/sdpa.py
  onnxscript/rewriter/ort_fusions/skip_normalization.py
  onnxscript/rewriter/ort_fusions/skip_normalization_test.py
Labels: topic: rewriter

#2035 Document how to create OpInfo tests
  tests/function_libs/torch_lib/README.md
Labels: documentation, module: torchlib

#2038 [torchlib] Fix prod
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: module: torchlib

#2047 [torchlib] Simplify squeeze
  onnxscript/function_libs/torch_lib/ops/core.py
  tests/function_libs/torch_lib/ops_test_data.py
Labels: module: torchlib
