Repository microsoft/onnxscript, pull requests merged in 2025-07, with the labels that each got.

#2429 [pass][reland] Enable DeduplicateInitializersPass
  noxfile.py
  onnxscript/optimizer/_optimizer.py
Labels: module: optimizer

#2432 A couple of minor fixes on rewrite rules
  onnxscript/rewriter/fuse_relus_clips.py
  onnxscript/rewriter/redundant_scatter_nd.py
Labels: module: rewriter

#2441 Improve redundant slice removal
  onnxscript/rewriter/collapse_slices.py
  onnxscript/rewriter/collapse_slices_test.py
Labels: module: rewriter

#2444 Remove torchscript graph builder
  onnxscript/function_libs/torch_lib/graph_building/__init__.py
  onnxscript/function_libs/torch_lib/graph_building/_graph_building_torch.py
  onnxscript/function_libs/torch_lib/graph_building/graph_building_test.py
Labels: do not merge, module: torchlib, topic: breaking changes

#2451 Remove legacy_ir usage in testutil
  onnxscript/rewriter/onnxruntime/__init__.py
  tests/common/testutils.py
  tools/diagnostics/gen_diagnostics.py
  tools/diagnostics/gen_diagnostics.sh
  tools/diagnostics/sarif/code-gen-hints.json
  tools/diagnostics/sarif/gen_sarif.sh
  tools/diagnostics/templates/rules.h.in
  tools/diagnostics/templates/rules.py.in
  tools/function_rewriter_testing/function_unittest_producer.py
  tools/ort_rewriter_profiling/README.md
Labels: topic: better engineering

#2396 fix: handling of default attrs in SimplifiedLayerNormalization + LayerNormalization🐛
  onnxscript/rewriter/ort_fusions/models/_bart_encoder.py
  onnxscript/rewriter/ort_fusions/skip_normalization.py
  onnxscript/rewriter/ort_fusions/skip_normalization_test.py
Labels: module: rewriter

#2450 Add initial support for RotaryEmbedding fusion for onnx opset 23
  onnxscript/rewriter/models/_bart_encoder.py
  onnxscript/rewriter/models/_phi2lm.py
  onnxscript/rewriter/models/_phi4lm.py
  onnxscript/rewriter/models/_rotary_embedding_models.py
  onnxscript/rewriter/models/_smollm_1.py
  onnxscript/rewriter/models/_smollm_2.py
  onnxscript/rewriter/models/_test_models.py
  onnxscript/rewriter/models/_whisper_decoder.py
  onnxscript/rewriter/models/_whisper_encoder.py
  onnxscript/rewriter/onnx_fusions/_onnx_fusions.py
  onnxscript/rewriter/onnx_fusions/_onnx_fusions_test.py
  onnxscript/rewriter/onnx_fusions/_rotary_embedding.py
  onnxscript/rewriter/ort_fusions/attention_test.py
  onnxscript/rewriter/ort_fusions/cos_sin_cache_test.py
  onnxscript/rewriter/ort_fusions/fuse_xformers_test.py
  onnxscript/rewriter/ort_fusions/gqa_test.py
  onnxscript/rewriter/ort_fusions/mha_test.py
  onnxscript/rewriter/ort_fusions/rms_normalization_test.py
  onnxscript/rewriter/ort_fusions/rotary_embedding_test.py
  onnxscript/rewriter/ort_fusions/skip_normalization_test.py
Labels: module: rewriter

#2434 Improves aten_chunk conversion
  onnxscript/function_libs/torch_lib/ops/core.py
Labels: module: torchlib
